.footer {
  background-color: $gray-800;
  padding-top: rem(65px);
  padding-bottom: rem(65px);
  color: #9ea0a0;

  a {
    color: #9ea0a0;
    text-decoration: none;
    transition: color 0.2s
  }

  &--logo {
    margin-bottom: rem(45px);
  }

  p {
    padding-right: 1rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;;
  }

  .copy,
  h3 {
    text-transform: uppercase;
    font-size: rem(16px);
    font-weight: 500;
    margin-bottom: rem(16px);
  }

  .social {
    font-size: rem(24px);
    margin-top: rem(8px);

    a {
      &:hover {
        color: $white;
      }
    }
  }
}
