.slider {
  position: relative;

  &--content {
    position: relative;
    z-index: 10;

    h2 {
      max-width: rem(450px);
      font-size: rem(55px);
      line-height: rem(85px);
      color: #fff;
      padding-bottom: rem(60px);
      padding-top: rem(110px);

      @include media-breakpoint-down(sm) {
        padding-top: 2rem;
        padding-bottom: 2rem;
        line-height: 3.4rem;
        font-size: 3rem;
      }

      span {
        color: $primary;
      }
    }

    &---footer {
      padding-bottom: rem(175px);

      @include media-breakpoint-down(sm) {
        white-space: nowrap;
        padding-bottom: 8rem;
      }
    }
  }

  p {
    color: $white;
    font-size: rem(18px);
    line-height: rem(30px);
    max-width: rem(600px);
    margin-bottom: rem(50px);
  }
}

.swiper {
  &-slide {
    background-position: center;
    background-size: cover;
  }

  &-container {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparentize(#000, 0.8);
      top: 0;
    }
  }
}

.swiper-nav {
  display: flex;
  margin-top: -5rem;
  position: relative;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  h2 {
    font-size: rem(24px);
    font-weight: 700;
    padding-bottom: rem(25px);
    padding-top: rem(25px);
    line-height: rem(28px);
    text-transform: uppercase;
    color: $white;
  }

  p {
    font-size: rem(17px);
    max-width: rem(245px);
  }

  .svg {
    width: rem(65px);
  }

  &--item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: rem(40px);
    flex: 1;

    &:first-child {
      background-color: #d14e45;
    }

    &:nth-child(2) {
      background-color: #b13938;
    }

    &:last-child {
      background-color: #9f2a29;
    }
  }
}

.section-wecare {
  padding-bottom: rem(90px);

  a {
    color: $primary;
  }
}

.section-contact {
  background-color: $red;
  color: $white;
  padding-bottom: rem(80px);

  .contact-form {
    max-width: rem(855px);
    margin: 0 auto;
  }
}

.section-contact textarea,
.section-contact input {
  background-color: #a5433c;
  border: 0;
  color: $white;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray-300;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $gray-300;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $gray-300;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $gray-300;
  }

  &:focus {
    background-color: darken(#a5433c, 0.5);
    color: $white;
  }
}

.section-features {
  background-color: $red;
  color: $white;
  padding-bottom: rem(80px);

  .readmore {
    background-color: transparent;
    color: $white;
    border: rem(2px) solid $white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.2s;
    font-weight: 400;
    text-transform: uppercase;
    font-size: rem(13px);

    &:hover {
      text-decoration: none;
      background-color: $white;
      color: $gray-800;
    }
  }
}

.section-map {
  min-height: rem(500px);
  position: relative;

  .map {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .container {
    position: relative;
    z-index: 10;
  }

  .address {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 18px;

    span {
      font-weight: 500;
    }
  }

  .card {
    padding: 1rem;

    a {
      color: $gray-800;
      font-weight: 500;
      text-decoration: none;
      text-align: center;
    }

    &-text {
      text-align: center;
      padding-top: 1rem;
    }

    &-group {
      margin-top: 3rem;
      padding-bottom: 6rem;
    }
  }

  h2 {
    font-size: rem(36px);
    padding-top: rem(140px);
    padding-bottom: rem(10px);
  }

  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($white, 0.3);
    z-index: 10;
  }
}
