.header {
  z-index: 10;
  background-color: $white;

  &--logo {
    padding-bottom: rem(10px);
    padding-top: rem(10px);
    text-align: center;

    img {
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
      max-width: rem(270px);
    }
  }

  &--nav {
    border-top: 1px solid #eee;
    box-shadow: 0 6px 10px rgba(170, 170, 170, 0.37);
  }
}
