.page-header {
  padding-top: rem(80px);
  padding-bottom: rem(80px);
  position: relative;
  background-size: cover;
  background-position: center;

  &::after {
    content: '';
    position: absolute;
    background-color: transparentize($black, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  h1 {
    color: $white;
    text-transform: uppercase;
    font-size: rem(55px);
    line-height: 5rem;
    position: relative;
    z-index: 10;

    @include media-breakpoint-down(sm) {
      font-size: rem(42px);
      line-height: 4rem;
    }

    span {
      color: $primary;
      display: block;
      text-transform: uppercase;
    }
  }

  p {
    position: relative;
    max-width: rem(525px);
    margin-top: 2rem;
    z-index: 10;
    color: $white;
  }
}

.page {

  // About us
  .section-vision {}

  // Services
  .section-services {
    background-color: $gray-200;

    &-col-wrap {
      display: flex;
      align-items: flex-start;

      > div {
        &:first-child {
          flex: 1;
        }
        &:last-child {
          flex: 4;
          padding-left: 1rem;
        }
      }
    }
  }

  // Specialists
  .section-specialists {
    background-color: $white;
    padding-bottom: 0;

    &-ppl {
      padding-top: 4rem;
    }

    .section--subheading {
      max-width: rem(730px);
      font-size: rem(18px);
      margin: 0 auto;
      margin-top: rem(32px);
    }

    .card-body {
      margin-top: rem(-6px);
      background-color: $primary;
    }

    h5 {
      @include media-breakpoint-only(md) {
        font-size: 1rem;
      }
    }

    .ppl-wrap {
      position: relative;
      z-index: 1;
      margin-bottom: rem(-104px);

      @include media-breakpoint-only(md) {
        margin-bottom: -6.2rem;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }

    .bottom-line {
      background-color: $primary;
      color: $white;
      min-height: rem(125px);
      width: 100vw;
      position: relative;
      left: calc(-1 * (100vw - 100%) / 2);

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  // Team
  .section-team {
    padding-bottom: 0;

    .member-bio {
      display: none;

      &.active {
        display: block;
      }

      small {
        margin-bottom: 2rem;
        display: block;
      }

      strong {
        font-weight: 500;
      }
    }

    .member-social {
      display: none;

      &.active {
        display: block;
      }

      > a {
        width: 40px;
        height: 40px;
        border: 2px solid;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
        color: $primary;

        &:hover {
          text-decoration: none;
        }
      }

      .phones p {
        margin-bottom: 0.5rem;
      }

      .phones a {
        color: $primary;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .members {
      padding-top: 4rem;

      @include media-breakpoint-down(md) {
        padding-top: 2rem;
        border-bottom: 1px dashed;
        margin-bottom: 2rem;
      }
    }

    .member-bio-inner {
      max-height: 500px;
      overflow-y: auto;
      margin-top: 4rem;
      margin-bottom: 4rem;
      position: relative;

      @include media-breakpoint-down(md) {
        margin-top: 0;
      }

      &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $primary;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
      }
    }

    .members-list ul {
      margin: 0;
      padding: 0;

      @include media-breakpoint-only('md') {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }

    .members-list li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: right;
      margin-bottom: rem(32px);

      @include media-breakpoint-only('md') {
        flex: 1 0 50%;
      }

      &:hover {
        cursor: pointer;
      }

      small {
        color: $gray-500;
      }

      img {
        border-radius: 50%;
      }

      &.active > div:last-child {
        border: 2px solid $primary;
        border-radius: 50%;
      }

      & > div {
        flex: 1;

        &:first-child {
          flex: 7;
          padding-right: 2rem;
        }

        &:last-child {
          border: 2px solid transparent;
        }
      }
    }

    .specialists {
      background-color: $primary;
      color: $white;
      margin-top: 4rem;
    }

    .specialists-right {
      max-width: 100%;

      @include media-breakpoint-up(md) {
        max-width: 95%;
      }

      @include media-breakpoint-up(lg) {
        max-width: 34rem;
      }
    }

    .specialists-right ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .specialists-right li {
      display: flex;
      padding-bottom: 2rem;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        margin-right: 2rem;
        padding-bottom: 1rem;

        .svg {
          text-align: center;
          margin-bottom: 1rem;
        }
      }

      > div {
        &:first-child {
          flex: 1;
        }
        &:last-child {
          flex: 4;

          @include media-breakpoint-down(sm) {
            text-align: center;
          }
        }
      }
    }

  }

  // Terminanfrage (Book a visit)
  .section-visit {
    background-color: $white;

    .section--subheading {
      max-width: rem(725px);
      margin: 0 auto;
      margin-top: 2rem;
    }

    .visit-form-wrap {
      margin-top: 4rem;

      label {
        text-transform: uppercase;
        color: #757575;
        font-weight: 300;
      }
    }

    .visit-form-heading h3 {
      text-transform: uppercase;
      margin-bottom: 2rem;
      font-size: rem(24px);
      font-weight: 400;
    }

  }

}
