.btn {
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-flex;
  font-size: rem(14px);
  font-weight: 700;
  border-radius: 0;
  justify-content: center;

  &-action {
    background-color: $red;
    height: rem(47px);
    width: rem(170px);

    &:hover {
      background-color: darken($red, 10);
    }
  }

  &-hollow {
    height: rem(47px);
  }
}

img {
  max-width: 100%;
}

b,
strong {
  font-weight: 500;
}

.section {
  padding-top: rem(100px);
  padding-bottom: rem(100px);

  @include media-breakpoint-down(sm) {
    padding-top: rem(50px);
    padding-bottom: rem(50px);
  }

  h4 {
    text-transform: uppercase;
    font-size: rem(18px);
  }

  h2 {
    text-align: left;
  }

  .svg {
    text-align: left;
    margin-top: 1rem;
  }

  .section--subheading {
    line-height: rem(28px);
    margin-top: 2rem;
  }

  .form-control {
    background-color: #f3f3f3;
    border: 0;
    padding: 0.8rem;
    border-radius: 0;
  }

  .form-group {
    margin-bottom: 3rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1.5rem;
    }
  }

  .dropdown button {
    width: 100%;
    height: 3.1rem;
    justify-content: space-between;
    background-color: #f3f3f3;
    border: 0;
    color: #757575;
    font-weight: 400;
    text-transform: capitalize;
  }

  .dropdown-menu.show {
    width: 100%;
    border-radius: 0;
    border: 1px solid #f3f3f3;
    color: #757575;
  }

  &-home {
    padding-top: 0;
    padding-bottom: 0;

    h2 {
      padding-bottom: 2rem;
      padding-top: 4rem;
      text-align: center;
    }

    .section--subheading {
      font-size: rem(18px);
      line-height: rem(28px);
      margin: 0 auto;
      padding-bottom: rem(80px);
      padding-top: rem(40px);
      text-align: center;
      max-width: rem(700px);
    }

    .svg {
      text-align: center;
    }
  }
}

.card {
  h5 {
    text-transform: uppercase;
  }

  .date {
    font-size: rem(14px);
    line-height: rem(25px);
    font-style: italic;
    color: $gray-400;
  }

  &-excerpt {
    margin-top: 1rem;
  }

  &-readmore {
    font-size: rem(14px);

    a {
      font-weight: 400;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.nav-menu > li.current-menu-item > a {
  color: $red;
}

.main {

}

.full-background {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);
  position: relative;
  overflow: hidden;
}

.show_map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
}

.showing_map {
  &:before {
    content: none !important;
  }
  .container {
    visibility: hidden;
  }
}
